@media screen and (max-width: 1500px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  .about-pic {
    border-radius: 2rem;
    height: 22rem;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 10px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 200px;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 57vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .experience-details-container {
    margin-top: -150px;
    padding: 30px;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin: auto;
  }
  .section__text__p2 {
    font-size: 1.25rem;
    text-align: center;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    width: 80%;
    margin: 5px auto;
    text-align: justify;
    padding: 5px;
    line-height: 1.6;
    color: #555578;
  }
  .section__text {
    margin: 30px;
  }
  p {
    text-align: center;
  }
  article {
    vertical-align: middle; /* Align items vertically */
    justify-content: space-around;
    gap: 0.5rem;
    display: inline-block; /* Keeps articles inline */
    width: 100%; /* Allows articles to take full width */
    margin-bottom: 1rem; /* Space between articles */
  }
  article .icon {
    width: 24px; /* Set icon size */
    height: 24px; /* Set icon size */
    vertical-align: middle; /* Align icon vertically */
    margin-right: 10px; /* Space between icon and text */
  }
  .texti-container {
    display: inline-block; /* Ensure text is inline */
    vertical-align: middle; /* Align text vertically */
  }
}

@media (max-width: 768px) {
  .about-pic {
    margin-top: 60px; /* Adjust margin as needed */
  }
  article {
    vertical-align: middle; /* Align items vertically */
    justify-content: space-around;
    gap: 0.5rem;
    display: inline-block; /* Keeps articles inline */
    width: 100%; /* Allows articles to take full width */
    margin-bottom: 1rem; /* Space between articles */
  }
  article .icon {
    width: 24px; /* Set icon size */
    height: 24px; /* Set icon size */
    vertical-align: middle; /* Align icon vertically */
    margin-right: 10px; /* Space between icon and text */
  }
  .texti-container {
    display: inline-block; /* Ensure text is inline */
    vertical-align: middle; /* Align text vertically */
  }
}

@media (max-width: 480px) {
  .about-pic {
    margin-top: 20px; /* Further adjustment for margin */
  }
  .experience-details-container {
    margin-top: -150px;
    padding: 30px;
  }
  article {
    vertical-align: middle; /* Align items vertically */
    justify-content: space-around;
    gap: 0.5rem;
    display: inline-block; /* Keeps articles inline */
    width: 100%; /* Allows articles to take full width */
    margin-bottom: 1rem; /* Space between articles */
  }
  article .icon {
    width: 24px; /* Set icon size */
    height: 24px; /* Set icon size */
    vertical-align: middle; /* Align icon vertically */
    margin-right: 10px; /* Space between icon and text */
  }
  .texti-container {
    display: inline-block; /* Ensure text is inline */
    vertical-align: middle; /* Align text vertically */
  }
}
